<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.xinshangshangxin.saladict</string>
	<key>connections</key>
	<dict>
		<key>7F70BFB4-7122-4C4E-8518-E1E0ADE54F50</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>271A145B-796A-4B80-8EBA-8E9C3DAA1185</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83B3FED7-D686-4BD4-8D0F-6487F38B611F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>271A145B-796A-4B80-8EBA-8E9C3DAA1185</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C57207B5-157F-4AE2-8B4B-165AF08EFDE2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F70BFB4-7122-4C4E-8518-E1E0ADE54F50</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>SHANG</string>
	<key>description</key>
	<string>快捷键调用沙拉</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>沙拉</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "System Events"
	# 快捷键打开沙拉词典
	key code 37 using {control down, command down}
  end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>271A145B-796A-4B80-8EBA-8E9C3DAA1185</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>83B3FED7-D686-4BD4-8D0F-6487F38B611F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7F70BFB4-7122-4C4E-8518-E1E0ADE54F50</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>f</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Saladict 沙拉查词</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C57207B5-157F-4AE2-8B4B-165AF08EFDE2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>调用沙拉查词的 "独立词典窗口查询剪贴板" 快捷键</string>
	<key>uidata</key>
	<dict>
		<key>271A145B-796A-4B80-8EBA-8E9C3DAA1185</key>
		<dict>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>7F70BFB4-7122-4C4E-8518-E1E0ADE54F50</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>83B3FED7-D686-4BD4-8D0F-6487F38B611F</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>C57207B5-157F-4AE2-8B4B-165AF08EFDE2</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string>https://github.com/crimx/ext-saladict</string>
</dict>
</plist>
