<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>6E206100-8A7E-435A-BF1E-D198EEA69B8D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC466FC3-941B-498E-8150-626FEEB1B872</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC466FC3-941B-498E-8150-626FEEB1B872</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Jeremy Wu</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Grammarly</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>gr</string>
				<key>subtext</key>
				<string>Press enter to check the clipboard text in Grammaryly</string>
				<key>text</key>
				<string>Grammaryly</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E206100-8A7E-435A-BF1E-D198EEA69B8D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>on run argv
  tell application "chrome"
    open location "https://app.grammarly.com/ddocs/1071920593"
    repeat until (loading of front window's active tab is false)
    end repeat
    delay 3
--    execute front window's active tab javascript "document.querySelector('[data-name=\"new-doc-add-btn\"]').click()"
--    delay 3
    execute front window's active tab javascript "document.querySelector('.ql-editor').innerHTML = '&lt;p&gt;" &amp; (the clipboard) &amp; "&lt;/p&gt;'"
  end tell
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BC466FC3-941B-498E-8150-626FEEB1B872</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>6E206100-8A7E-435A-BF1E-D198EEA69B8D</key>
		<dict>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>BC466FC3-941B-498E-8150-626FEEB1B872</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/Army-U/alfred-grammarly</string>
</dict>
</plist>
