<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>38F0833D-15B1-4663-BB74-CC7FC11CD06B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>fanyi</string>
			<key>text</key>
			<string>Translate</string>
			<key>url</key>
			<string>https://translate.google.com</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
