<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>50BA1B6F-41CB-4142-A401-2D756937B4A4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>f</string>
			<key>text</key>
			<string>translate</string>
			<key>url</key>
			<string>https://translate.google.com/?text={query}&amp;op=translate</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
