<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>schneppi.appdelete</string>
	<key>connections</key>
	<dict>
		<key>2AF0AB6F-382B-44E3-A287-40CCD8C30585</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B647700-13F4-482E-B0E0-5079447B4270</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6A37BA3E-2198-4A6A-BB48-76343C137CA5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2AF0AB6F-382B-44E3-A287-40CCD8C30585</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F85D00DE-5CC3-4045-819B-1C90CE64306D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2AF0AB6F-382B-44E3-A287-40CCD8C30585</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FF8E3BE3-2E94-4801-8A01-9AA8DE17340B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2AF0AB6F-382B-44E3-A287-40CCD8C30585</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sascha Schneppmueller</string>
	<key>description</key>
	<string>Remove App and cleanup with AppDelete</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AppDelete</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>uninstall</string>
				<key>scopes</key>
				<array>
					<string>/Applications</string>
					<string>/Users</string>
				</array>
				<key>subtext</key>
				<string>Find an App to open in AppDelete for removal and cleanup</string>
				<key>title</key>
				<string>Uninstall App with AppDelete</string>
				<key>types</key>
				<array>
					<string>com.apple.application-bundle</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>FF8E3BE3-2E94-4801-8A01-9AA8DE17340B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<true/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Please wait for AppDelete to open up...</string>
				<key>title</key>
				<string>Sent {query} to AppDelete</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5B647700-13F4-482E-B0E0-5079447B4270</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>open -a AppDelete {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2AF0AB6F-382B-44E3-A287-40CCD8C30585</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F85D00DE-5CC3-4045-819B-1C90CE64306D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>com.apple.application-bundle</string>
					<string>com.apple.dashboard-widget</string>
					<string>com.apple.plugin</string>
				</array>
				<key>name</key>
				<string>Uninstall with AppDelete</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>6A37BA3E-2198-4A6A-BB48-76343C137CA5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Find out more about AppDelete at http://www.reggieashworth.com/appdelete

Version 1.2</string>
	<key>uidata</key>
	<dict>
		<key>2AF0AB6F-382B-44E3-A287-40CCD8C30585</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>5B647700-13F4-482E-B0E0-5079447B4270</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>6A37BA3E-2198-4A6A-BB48-76343C137CA5</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>F85D00DE-5CC3-4045-819B-1C90CE64306D</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>FF8E3BE3-2E94-4801-8A01-9AA8DE17340B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>twitter.com/Schneppi</string>
</dict>
</plist>
