<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>fehelper.github-repos.workflow</string>
	<key>connections</key>
	<dict>
		<key>1DF32736-2CED-48A9-992B-0E89AD0D55A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>405FBFD9-FBEC-4124-AD6D-5CF0059B217B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>23158E0D-8138-4751-AD1B-E655C75260D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2FFD76E-A41A-4B44-9357-8897B0402612</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>817561C8-5076-43C5-87CF-3A0930EC6B11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3B024ACD-52FE-4B9B-88CA-6FA5547118B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4408793D-0774-444C-8BF8-A6618D7E6A10</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>405FBFD9-FBEC-4124-AD6D-5CF0059B217B</key>
		<array/>
		<key>4408793D-0774-444C-8BF8-A6618D7E6A10</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>405FBFD9-FBEC-4124-AD6D-5CF0059B217B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>817561C8-5076-43C5-87CF-3A0930EC6B11</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5E22061-00F1-47AB-A38A-40E692557CFD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81D0B414-FCCA-4485-9361-1964A4E814C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1DF32736-2CED-48A9-992B-0E89AD0D55A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8804A78-1D15-442D-92A1-110E129E83A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>405FBFD9-FBEC-4124-AD6D-5CF0059B217B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2FFD76E-A41A-4B44-9357-8897B0402612</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>405FBFD9-FBEC-4124-AD6D-5CF0059B217B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jeremy</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>FE Helper</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
  set bundleID to (system attribute "alfred_workflow_bundleid")
  set token to (item 1 of argv)

  tell application id "com.runningwithcrayons.Alfred"
    set configuration "FE_HELPER_ID" to value token in workflow bundleID
  end tell
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>817561C8-5076-43C5-87CF-3A0930EC6B11</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your personal extension id has been saved</string>
				<key>title</key>
				<string>Id saved!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B5E22061-00F1-47AB-A38A-40E692557CFD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>fe-id</string>
				<key>subtext</key>
				<string>Paste your personal extension id here</string>
				<key>text</key>
				<string>Settings</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>to getRecordValue(theKey, theList)
   run script "on run{theKey,theList}
   return (" &amp; theKey &amp; " of theList )
end" with parameters {theKey, theList}
end getRecordValue

on run argv
  set FE_HELPER_ID to (system attribute "FE_HELPER_ID")
  set apps to {json:"json-format", encode:"en-decode", regexp:"regexp", format:"code-beautify", qrcode:"qr-code", codecompress:"code-compress", timestamp:"timestamp", imagebase64:"image-base64", password:"password", qrdecode:"qr-decode", postman:"postman"}
  set app_name to (item 1 of argv)
  set tools to (getRecordValue(app_name, apps))
  tell application "chrome"
    open location "chrome-extension://" &amp; FE_HELPER_ID &amp; "/dynamic/index.html?tool=" &amp; tools
    repeat until (loading of front window's active tab is false)
    end repeat
    delay 0.5
    tell application "System Events" to key code 9 using {command down}
  end tell
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>405FBFD9-FBEC-4124-AD6D-5CF0059B217B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>fe</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>cat &lt;&lt; EOB
{
  "items": [
    {
      "title": "JSON",
      "arg": "json",
      "subtitle": "Open JSON tools in your browser"
    },
    {
      "title": "Encode",
      "arg": "encode",
      "subtitle": "Open Encode tools in your browser"
    },
    {
      "title": "Regexp",
      "arg": "regexp",
      "subtitle": "Open Regexp tools in your browser"
    },
    {
      "title": "Format",
      "arg": "format",
      "subtitle": "Open Format tools in your browser"
    },
    {
      "title": "Qrcode",
      "arg": "qrcode",
      "subtitle": "Open Qrcode tools in your browser"
    },
    {
      "title": "Codecompress",
      "arg": "codecompress",
      "subtitle": "Open Codecompress tools in your browser"
    },
    {
      "title": "Timestamp",
      "arg": "timestamp",
      "subtitle": "Open Timestamp tools in your browser"
    },
    {
      "title": "Imagebase64",
      "arg": "imagebase64",
      "subtitle": "Open Imagebase64 tools in your browser"
    },
    {
      "title": "Password",
      "arg": "password",
      "subtitle": "Open Password tools in your browser"
    },
    {
      "title": "Qrdecode",
      "arg": "qrdecode",
      "subtitle": "Open Qrdecode tools in your browser"
    },
    {
      "title": "Postman",
      "arg": "postman",
      "subtitle": "Open Postman tools in your browser"
    }
  ]
}

EOB</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B8804A78-1D15-442D-92A1-110E129E83A5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>encode</string>
				<key>subtext</key>
				<string>Open Encode tools in your browser</string>
				<key>text</key>
				<string>Encode</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3B024ACD-52FE-4B9B-88CA-6FA5547118B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>encode</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4408793D-0774-444C-8BF8-A6618D7E6A10</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>format</string>
				<key>subtext</key>
				<string>Open Format tools in your browser</string>
				<key>text</key>
				<string>Format</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>81D0B414-FCCA-4485-9361-1964A4E814C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>format</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1DF32736-2CED-48A9-992B-0E89AD0D55A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>json</string>
				<key>subtext</key>
				<string>Open JSON tools in your browser</string>
				<key>text</key>
				<string>JSON</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>23158E0D-8138-4751-AD1B-E655C75260D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>json</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C2FFD76E-A41A-4B44-9357-8897B0402612</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1DF32736-2CED-48A9-992B-0E89AD0D55A6</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>23158E0D-8138-4751-AD1B-E655C75260D7</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>3B024ACD-52FE-4B9B-88CA-6FA5547118B7</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>405FBFD9-FBEC-4124-AD6D-5CF0059B217B</key>
		<dict>
			<key>xpos</key>
			<integer>295</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>4408793D-0774-444C-8BF8-A6618D7E6A10</key>
		<dict>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>817561C8-5076-43C5-87CF-3A0930EC6B11</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>81D0B414-FCCA-4485-9361-1964A4E814C4</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>B5E22061-00F1-47AB-A38A-40E692557CFD</key>
		<dict>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>B8804A78-1D15-442D-92A1-110E129E83A5</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>C2FFD76E-A41A-4B44-9357-8897B0402612</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>FE_HELPER_ID</key>
		<string>pkgccpejnmalmdinmhkkfafefagiiiad</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>FE_HELPER_ID</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/Army-U/alfred-fe-helper</string>
</dict>
</plist>
